/*Global*/


*::before,
*::after{
margin: 0;
padding: 0;

}
html{
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;

}

a{
    display: block;
    text-decoration: none;

}

.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;

}

/*Header*/
header{
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 99.18%;
    height: 4.4rem;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(2rem);

}




.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;

}


.nav-list-mobile{
    display: none;

}

.nav-link{
    font-size: 1.4rem;
    color: #fff;
    padding: 0 1rem;
    transition: opacity .5s;
}

.nav-link:hover{
    opacity: .7;
}

.nav-link-apple{
    width: 1.6rem;
    height: 4.4rem;
    background: url("images/icons/apple.svg") center no-repeat;
}

.nav-link-search{
    width: 1.6rem;
    height: 4.4rem;
    background: url("images/icons/search.svg") center no-repeat;
}

.nav-link-bag{
    width: 1.6rem;
    height: 4.4rem;
    background: url("images/icons/bag.svg") center no-repeat;
}

.iphone-12-pro{
    background: url("images/hero/iphone-11-pro/iphone_12_pro_large.jpg") ;
    margin-top: 4.4rem;
    
}

.bilgi{
    background: url("images/hero/reklam/reklam.jpg");
}

.iphone-12{
    background: url("images/hero/iphone-11/iphone_11_large.jpg");

    

}
/*
.appstore{
    background: url("images/hero/appstore/appstore-3.jpg");
    width: 50%;
    
    margin-left: 94.2rem;
    height: 4.4rem;
}*/

.hero{
    height: 70rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .6rem solid #fff;
    border-bottom: .6rem solid #fff;
    
}

/*Iphone 12 Pro Section*/

.iphone-12-pro{
    border-top: none;
    
}

.title{
    color: #fff;
    text-align: center;
    padding-top: .5rem;

}

.title-heading{
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;
}

.title-sub-heading{
    font-size: 2.65rem;
    margin-top: -4rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.title-price{
    font-size: 1.7rem;
    color: #888;
    margin-top: .68rem;

}

.cta{
    text-align: center;
    margin-top: -1.8rem;

}

.cta-link{
    color: #66bbff;
    font-size: 2.1rem;
    display: inline-block;
    

}

.cta-link:nth-child(2){
    margin-left: 2.6rem;

}

.cta-link:hover{
    border-bottom: 2px solid #66bbff;
    
}
/*Bilgi-Reklam*/

.title-heading-bilgi{
    height: 7.8rem;
    font-size: 5.1rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;
    background-size: auto 7.8rem;  

}
.title-sub-heading-bilgi{
    height: 7.8rem;
    font-size: 5.1rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;
    background-size: auto 7.8rem;  

}

.title-dark{
    color: #000000;
    text-align: center;
    padding-top: .5rem;
    

}

.cta-link-darker{
    color: #66bbff;
    font-size: 2.1rem;
    display: inline-block;
}

.cta-link-darker:hover{
    border-bottom-color: #0070c9;

}


/*Iphone 12 section*/

 .title-sub-heading-iphone-12{
     font-size: 2.4rem;
     color: #888;
     border-top: none;
     

 }
 .title-dark{
    color: #000000;
    text-align: center;
    padding-top: .5rem;
    

}


/*Appstore*/



@media screen and (max-width: 1068px){
   
    header{
        height: 4.8rem;
        
    }

    header .container{
        padding: 0;
    }
    
    .nav-list-larger{
        display: none;
    }
    .nav-list{
        margin-top:0
    }

    .nav-list-mobile{
        display: flex;
        
    }

    .nav-item{
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;

    }

    .nav-item-hidden{
        display:none;

    }

    .mobile-menu{
        /*   position: relative;
           z-index: 100%;
           width: 100%;
           height: 100%;
           display: flex;
           flex-direction: column;
           justify-content: center;
           cursor: pointer;*/
   
           position: relative;
           display: flex;
           justify-content: center;
           align-items: center;
           width: 30px;
           height: 25px;
           cursor: pointer;
           transition: all .5s ease-in-out;
          /* border: 2px solid #fff;*/
           margin-top: 1rem;
       }
   
       .menu-btn_burger{
           width: 20px;
           height: 2px;
           background: #fff;
           border-radius: 1px;
           transition: all .5s ease-in-out;
       }
   
       .menu-btn_burger::before,
       .menu-btn_burger::after{
           content: '';
           position: absolute;
           width: 20px;
           height: 2px;
           background: #fff;
           border-radius: 1px;
           transition: all .5s ease-in-out;
       }
   
       .menu-btn_burger::before{
           transform: translateY(-5px);
       }
   
       .menu-btn_burger::after{
           transform: translateY(5px);
       }
       /*Animation*/
       .mobile-menu.open .menu-btn_burger{
           transform: translateX(-20px);
           background: transparent;
           
       }
   
       .mobile-menu.open .menu-btn_burger::before{
           transform: rotate(45deg) translate(14px,-14px);
       }
   
       .mobile-menu.open .menu-btn_burger::after{
           transform: rotate(-45deg) translate(14px,14px);
       }
   

    .iphone-12-pro{
        background: url("images/hero/iphone-11-pro/iphone_11_pro_medium.jpg");

    }
    .iphone-12{
        background: url("images/hero/iphone-11/iphone_11_medium.jpg");

    }
    .bilgi{
        background-image: url("images/hero/watch/watch_medium.jpg");

    }
    .hero{
        height: 65rem;
        background-size: auto 69.8rem;
        background-position: bottom-center;
        background-repeat: no-repeat;

    }

    
    .title-heading{
        font-size: 4.4rem;
        
    }
    .title-sub-heading{
        font-size: 2.4rem;
    }

    .title-heading-bilgi{
        height: 6.2rem;
        font-size: 3.4rem;
        background: url("images/hero/watch/logo_watch_medium.png")center no-repeat ;
        background-size: auto 6.2rem;

    }

    .title-sub-heading-bilgi{
        font-size: 2rem;
    }
    .title-sub-heading-iphone-12{
        font-size: 2rem;
    
    }

    .cta-link:nth-child(2){
        margin-left: 2rem;
    }
}

@media screen and (max-width: 767px){
    header{
        height: 4.8rem;
        
    }

    header .container{
        padding: 0;
    }


    .iphone-12-pro{
        margin-top: 4.8rem;
    
    }
    
    .iphone-12{
        background: url("images/hero/iphone-11/iphone_11_small.jpg");

    }
    .bilgi{
        background-image: url("images/hero/watch/watch_small.jpg");

    }
    
    .nav-list-larger{
        display: none;
    }
    .nav-list{
        margin-top:0
    }

    .nav-list-mobile{
        display: flex;
        
    }

    .nav-item{
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;

    }

    .nav-item-hidden{
        display:none;

    }

    .mobile-menu{
     /*   position: relative;
        z-index: 100%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;*/

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 25px;
        cursor: pointer;
        transition: all .5s ease-in-out;
       /* border: 2px solid #fff;*/
        margin-top: 1rem;
    }

    .menu-btn_burger{
        width: 20px;
        height: 2px;
        background: #fff;
        border-radius: 1px;
        transition: all .5s ease-in-out;
    }

    .menu-btn_burger::before,
    .menu-btn_burger::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background: #fff;
        border-radius: 1px;
        transition: all .5s ease-in-out;
    }

    .menu-btn_burger::before{
        transform: translateY(-5px);
    }

    .menu-btn_burger::after{
        transform: translateY(5px);
    }
    /*Animation*/
    .mobile-menu.open .menu-btn_burger{
        transform: translateX(-20px);
        background: transparent;
        
    }

    .mobile-menu.open .menu-btn_burger::before{
        transform: rotate(45deg) translate(14px,-14px);
    }

    .mobile-menu.open .menu-btn_burger::after{
        transform: rotate(-45deg) translate(14px,14px);
    }

    /*.line{
        position: absolute;
        width: 1.7rem;
        height: 1px;
        background-color: #fff;
        transition: margin-top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);

    }

    .line-top{
        margin-top: 3px;

    }

    .line-bottom{
        margin-top: -.4rem;
    }

    .active .line-top{
        margin-top: 0;
        transform: rotate(45deg);
        transition: transform .3192s .1scubic-bezier(0.04, 0.04, 0.12, 0.96);
        
    }
    .active .line-bottom{
        margin-top: 0;
        transform: rotate(-45deg);
        transition: transform .3192s .1scubic-bezier(0.04, 0.04, 0.12, 0.96);
        
    }
    header.active{
        height: 100%;
        background-color: #000000;

    }*/

}
  

